.catalog {
    min-width: 300px;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.filters {
    flex: 0 0 20%;
    min-width: 200px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    position: relative;
    transition: all 1s;
}

.filtersPush {
    transition: all .1s;
}

@media (max-width: 600px) {
    .filters {
        display: flex;
        flex-wrap: wrap;
    }

    .filterItem {
        flex: 1 0 100%;
    }

}

.filterss {
    transition: all 1s;
}

.filterItem {
    margin-bottom: 10px;
}

.filters_top {
    background-color: white;
    padding: 5px 0 5px;
    margin: 0 5px;
    justify-content: center;
    /*border-bottom: 2px solid gray;*/

}


.list_item {
    font-size: 14px;
    list-style: none;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
}

.list_name {
    margin: 0 5px;

}
.mainTitle{
    width: 100%;
    text-align: left;
    font-weight: 600;
    margin: 5px;
    position: relative;
}


.title {
    width: 100%;
    text-align: left;
    font-weight: 600;
    margin: 5px;
    position: relative;
}

.range {
    margin-top: 15px;

}

.range input {
    width: 70px;
    margin-left: 5px;
}

.rangeTitle {

    text-align: left;
    font-weight: 600;
    margin: 5px;
}

.rangeText {
    display: flex;
    align-items: center;
}

.rangeValue {
    font-size: 14px;
    display: block;
}

.rangeManage {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.rangeManage button {
    align-items: flex-end;
    margin: 5px;
}


.sort {
    display: flex;
}


.select {
    width: 255px;
}

/* результаты*/


.resultsTitle {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    margin: 5px;
}

.results {
    padding: 5px;
    flex: 0 1 80%;
}

.resultsHeader {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5px;
    padding: 5px;
}

@media (max-width: 750px) {
    .catalog {
        flex-direction: column;
    }

    .filters {
        display: flex;
        flex-direction: column;
        position: relative;
    }

}

.goods {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: aliceblue;

}

@media (max-width: 720px) {
    .goods {
        justify-content: center;
    }

}

